In [1]:
##Program  will get list of available streaming services
import requests
import csv 
import pandas as pd
from matplotlib import pyplot as plt 
import numpy as np 
import urllib.request
import json

api_Key = "l4T5GRmxtJ1uElzIWngdXQaGS4o5fgDn3nrWMqkl"

with urllib.request.urlopen(f"https://api.watchmode.com/v1/sources/?apiKey={api_Key}") as url:
    data = json.loads(url.read().decode())
    data_file=open ("streamingservices.csv", "w", newline="", encoding="utf-8")
    csv_writer = csv.writer(data_file)
    csv_writer.writerow(["id#", "Name", "Type"])
    for element in data:
        idnum = element["id"]
        name = element["name"]
        types = element["type"]
        csv_writer.writerow([idnum,name,types])
data_file.close()
file = pd.read_csv("streamingservices.csv")
file

     id#                  Name  Type
0    203               Netflix   sub
1    157                  Hulu   sub
2     26          Amazon Prime   sub
3    387               HBO MAX   sub
4    372               Disney+   sub
..   ...                   ...   ...
255  333  Watch Travel Channel   tve
256  315                 WE tv   tve
257  342            Yahoo View  free
258  345               YouTube  free
259  450                  Zee5   sub

[260 rows x 3 columns]

In [1]:
import requests
import json
import csv 
import pandas as pd
#Program will collect a list of titles available on netflix and hulu specified in the URL as source ids 157,217
#will be able to iterate through the 30 pages of available content but uses 1 point per page against allotment.
data_file=open ("Watchmodedata.csv", "w", newline="", encoding="utf-8")
csv_writer = csv.writer(data_file)
csv_writer.writerow(["Title", "imbd_id", "tmbd_id", "year"])
api_Key = "l4T5GRmxtJ1uElzIWngdXQaGS4o5fgDn3nrWMqkl"
y = 0
imbd=""
tmbd=""
x= 0

json_file=requests.get(f"https://api.watchmode.com/v1/list-titles/?apiKey={api_Key}&source_ids=157,217&sort_by=popularity_desc&page={y}").json()
for i in json_file['titles']:
    year=i.get('year')
    title=i['title']
    imbd_id=i.get('imdb_id')
    tmbd_id=i.get('tmdb_id')
    csv_writer.writerow([title,imbd_id,tmbd_id,year])
    x+=1
data_file.close()
file = pd.read_csv("Watchmodedata.csv")
file

                                          Title     imbd_id  tmbd_id  year
0                                     Grimcutty  tt17196124  1024530  2022
1                                          Prey  tt11866324   766507  2022
2                                  Chainsaw Man  tt13616990   114410  2022
3                                Rick and Morty   tt2861424    60625  2013
4                         American Horror Story   tt1844624     1413  2011
..                                          ...         ...      ...   ...
245                               Flesh & Blood   tt8523678   558655  2018
246                            The Golden Girls   tt0088526     1678  1985
247                                     Caillou   tt0262153     3218  1997
248                            Sword Art Online   tt2250192    45782  2012
249  Rascal Does Not Dream of Bunny Girl Senpai   tt8993398    82739  2018

[250 rows x 4 columns]

In [ ]:
##Program uses the list of titles in watchmodedata.csv and displays the data in a listbox item
import tkinter as tk
from tkinter import*
from tkinter import ttk
from tkinter.messagebox import showinfo
from PIL import Image, ImageTk
import csv 
file = csv.reader(open('Watchmodedata.csv','r'))
root = tk.Tk() 
root.title('Project Window Demo')
root.geometry('600x400+50+50')
message =tk.Label(root,text="Hello World",bg="green",fg="white")
message.pack(fill=tk.X) 
load = Image.open("netflix2.jpeg")
render = ImageTk.PhotoImage(load)
load = Image.open("hulu.jpeg")
render2 = ImageTk.PhotoImage(load)
box1 = tk.Label(root,image =render)

box1.pack(ipadx=20, ipady=20, expand=True, side=tk.LEFT)

# box 2
box2 = tk.Label(root,image=render2)
box2.pack(ipadx=20, ipady=20, expand=True, side=tk.RIGHT)
selected= tk.StringVar()
r1 = ttk.Radiobutton(root, text='Action', value=1, variable=selected)
r2 = ttk.Radiobutton(root, text='Sifi', value=2, variable=selected)
r3 = ttk.Radiobutton(root, text='Drama', value=3, variable=selected)
listbox=Listbox(root,height=15,width=25)
def selectedget(): 
    showinfo(title='Genre',message=selected.get())
button2=ttk.Button(root,text="Get Option",command=selectedget)
r1.pack()
r2.pack()
r3.pack()
var=0
for i in file:
    listbox.insert(END,i[0])
    
listbox.pack()
button2.pack()

root.mainloop()

In [ ]:
import requests
import json
import csv 
import pandas as pd
api_Key = "2b0268899e7722c303709443c41c21f4"
json_file=requests.get("http://api.themoviedb.org/3/discover/movie?api_key=2b0268899e7722c303709443c41c21f4&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=500").json()
print(json_file)
for i in json_file['results']:
    title=i.get('original_title')